@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeToBlack {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}

.screen-fade {
  position: fixed;
  top: 55.97px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 55.97px);
  background-color: black;
  animation: fadeToBlack 2s forwards;
  z-index: 9999;
}

.attack-animation {
  animation: attackAnimation 0.5s;
  position: relative;
  z-index: 2;
}

.enemy-attack-animation {
  animation: enemyAttackAnimation 0.5s;
  position: relative;
  z-index: 2;
}

@keyframes attackAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(200px) translateY(50px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes enemyAttackAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-200px) translateY(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

.log-options {
  margin-left: 20vw;
  margin-right: 20vw;
}

.battle-log {
  background-color: #f8f9fa;
  color: #000;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid #ccc;
  padding: 10px;
  height: 150px;
  overflow-y: auto;
  align-content: center;
}

.battle-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #ececec;
  border: 1px solid #ccc;
  height: 150px;
}

@keyframes enemyJump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes selfJump {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
}

@keyframes enemyJumpInverted {
  0%,
  100% {
    transform: scaleX(-1) translateY(0);
  }
  50% {
    transform: scaleX(-1) translateY(-10px);
  }
}

@keyframes selfJumpInverted {
  0%,
  100% {
    transform: scaleX(-1) translateY(-10px);
  }
  50% {
    transform: scaleX(-1) translateY(0);
  }
}

.pokemon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.pokemon-container-enemy {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.pokemon-container img,
.pokemon-container-enemy img {
  position: relative;
  z-index: 3;
}

.pokemon-container-enemy .playground-enemy {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 1;
}

.pokemon-container .playground {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 1;
}

.pokemon-img {
  transition: transform 0.3s ease;
  z-index: 3;

  position: relative;
  margin-bottom: 3rem;
}

.self-pokemon-img {
  transition: transform 0.3s ease;
  z-index: 3;

  position: relative;
  margin-bottom: 3rem;
}

.enemy-img-inverted {
  animation: enemyJumpInverted 2s infinite;
}

.self-img-inverted {
  animation: selfJumpInverted 2s infinite;
}

.enemy-img-not-inverted {
  animation: enemyJump 2s infinite;
}

.self-img-not-inverted {
  animation: selfJump 2s infinite;
}

.playground-enemy img,
.playground img {
  z-index: 1;
}

.enemy-img-inverted:hover {
  animation: enemyJumpInverted 0.5s infinite;
}

.enemy-img-not-inverted:hover {
  animation: enemyJump 0.5s infinite;
}

.self-img-inverted:hover {
  animation: selfJumpInverted 0.5s infinite;
}

.self-img-not-inverted:hover {
  animation: selfJump 0.5s infinite;
}

@media (max-width: 768px) {
  .pokemon-img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 768px) {
  .self-pokemon-img {
    width: 150px;
    height: 150px;
  }
}

/*Buttons */
.button-normal {
  background-image: linear-gradient(to right, #a8a878, #c6c6a7);
}
.button-fighting {
  background-image: linear-gradient(to right, #c03028, #d67873);
}
.button-flying {
  background-image: linear-gradient(to right, #a890f0, #c6b7f5);
}
.button-poison {
  background-image: linear-gradient(to right, #a040a0, #d790d5);
}
.button-ground {
  background-image: linear-gradient(to right, #e0c068, #ebd69d);
}
.button-rock {
  background-image: linear-gradient(to right, #b8a038, #d1c17d);
}
.button-bug {
  background-image: linear-gradient(to right, #a8b820, #c6d16e);
}
.button-ghost {
  background-image: linear-gradient(to right, #705898, #977ad1);
}
.button-steel {
  background-image: linear-gradient(to right, #b8b8d0, #d1d1e0);
}
.button-fire {
  background-image: linear-gradient(to right, #f08030, #f5ac78);
}
.button-water {
  background-image: linear-gradient(to right, #6890f0, #9db7f5);
}
.button-grass {
  background-image: linear-gradient(to right, #78c850, #a7db8d);
}
.button-electric {
  background-image: linear-gradient(to right, #f8d030, #fae078);
}
.button-psychic {
  background-image: linear-gradient(to right, #f85888, #fa92b2);
}
.button-ice {
  background-image: linear-gradient(to right, #98d8d8, #bce6e6);
}
.button-dragon {
  background-image: linear-gradient(to right, #7038f8, #9b7fe0);
}
.button-dark {
  background-image: linear-gradient(to right, #705848, #a29288);
}
.button-fairy {
  background-image: linear-gradient(to right, #ee99ac, #f4bdc9);
}

.attack-button {
  border: none;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px #999;
}

.attack-button:hover {
  background-position: right center;
  transform: scale(1.1);
}

.button-attack {
  background-image: linear-gradient(to right, #ff7f50, #ff6347);
  color: white;
  border: none;
  padding: 10px 20px;
  box-shadow: 0 4px #999;
  transition: transform 0.2s ease-in-out;
}

.button-attack:hover {
  transform: scale(1.05);
  box-shadow: 0 6px #777;
}

.button-switch {
  background-image: linear-gradient(to right, #1e90ff, #00bfff);
  color: white;
  border: none;
  padding: 10px 20px;
  box-shadow: 0 4px #666;
  transition: transform 0.2s ease-in-out;
}

.button-switch:hover {
  transform: scale(1.05);
  box-shadow: 0 6px #444;
}

.button-surrender {
  background-image: linear-gradient(to right, #696969, #808080);
  color: white;
  border: none;
  padding: 10px 20px;
  box-shadow: 0 4px #333;
  transition: transform 0.2s ease-in-out;
}

.button-surrender:hover {
  transform: scale(1.05);
  box-shadow: 0 6px #111;
}

.button-attack,
.button-switch,
.button-surrender,
.attack-button {
  margin-bottom: 5px;
  text-align: center;
}

.button-attack,
.button-switch,
.button-surrender,
.attack-button {
  flex: 1;
  margin: 2px;
  font-size: 14px;
  border-radius: 4px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 0.5s linear 3;
}

@keyframes blinkInverted {
  0% {
    opacity: 1;
    transform: scaleX(-1);
  }
  50% {
    opacity: 0;
    transform: scaleX(-1);
  }
  100% {
    opacity: 1;
    transform: scaleX(-1);
  }
}

.blink-inverted {
  animation: blinkInverted 0.5s linear 4;
}
