@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
  margin: 0;
  background-color: #333333;
  color: white; /* Color de texto deseado */
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.pokemonCardBackground {
  background: linear-gradient(to bottom right, #333333, #666666);
}

.pokemonImageContainer {
  position: relative;
}

.pokemonImage {
  transition: filter 0.3s ease;
}

.pokemonImage.captured {
  filter: brightness(0) invert(1);
}

.blackImage .pokemonImage.captured {
  filter: brightness(0) invert(0) sepia(1) saturate(8) hue-rotate(150deg);
}

.searchInputBackground {
  background: linear-gradient(to bottom right, #333333, #666666);
  border: 1px solid #666666;
  border-radius: 5px;
  padding: 8px;
  margin: 0 0 10px 0;
  color: white;
}

.searchInputBackground::placeholder {
  color: #9e9e9e;
}

.card-title {
  color: #dddddd;
}

.form-control:focus {
  color: #dddddd;
}

.form-control {
  color: #dddddd;
}

.capture-button {
  position: relative;
}

.capture-button:hover {
  background-color: #666666;
}

.capture-button:hover::after {
  content: "Capturar";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #9e9e9e;
  padding: 5px;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  margin-top: 5px;
}
