@import "~bootstrap/dist/css/bootstrap.min.css";

/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

.bodyBackground {
  background: #333333;
}
.pokemonCardBackground {
  background: linear-gradient(to bottom right, #333333, #666666);
}

.searchInputBackground {
  background: linear-gradient(to bottom right, #333333, #666666);
  border: 1px solid #666666;
  border-radius: 5px;
  padding: 8px;
  margin: 0 0 10px 0;
}

.searchInputBackground::placeholder {
  color: #9e9e9e;
}

.card-title {
  color: #dddddd;
}

.form-control:focus {
  color: #dddddd;
}

.form-control {
  color: #dddddd;
}
